// GENERAL PROJECT STYLES

body{
    color:#000;
}
.shop-card{
    width: 560px;
    height: 560px;
}
.line{
    width: 70px;
    outline: 2px solid #CFCFCF;
}
.card-text{
    font-size: 15px;
}
p{
    margin-top: 15px;
}


.carousel .carousel-control-prev-icon {
  /* change fill="currentColor" to %23fff to make it white  */
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='44' height='44' rx='22' fill='white' fill-opacity='0.75'/%3E%3Cpath  d='M30.05 22.0001H13.8677L19.79 14.2151C19.8257 14.1682 19.854 14.1124 19.8733 14.0511C19.8926 13.9898 19.9025 13.924 19.9025 13.8576C19.9025 13.7912 19.8926 13.7255 19.8733 13.6642C19.854 13.6028 19.8257 13.5471 19.79 13.5001C19.7543 13.4532 19.712 13.4159 19.6653 13.3905C19.6187 13.3651 19.5688 13.3521 19.5183 13.3521C19.4678 13.3521 19.4179 13.3651 19.3713 13.3905C19.3246 13.4159 19.2823 13.4532 19.2466 13.5001L12.6821 22.1451C12.6641 22.1686 12.6482 22.1946 12.6346 22.2226C12.6282 22.2346 12.6225 22.2471 12.6175 22.2601L12.5985 22.3101L12.5871 22.3601C12.586 22.3743 12.586 22.3885 12.5871 22.4026C12.5774 22.467 12.5774 22.5333 12.5871 22.5976C12.586 22.6118 12.586 22.626 12.5871 22.6401L12.5985 22.6901L12.6175 22.7401C12.6225 22.7532 12.6282 22.7657 12.6346 22.7776C12.6482 22.8057 12.6641 22.8317 12.6821 22.8551L19.2466 31.5001C19.282 31.5478 19.3243 31.5856 19.3709 31.6114C19.4176 31.6373 19.4677 31.6506 19.5183 31.6506C19.5689 31.6506 19.619 31.6373 19.6657 31.6114C19.7123 31.5856 19.7546 31.5478 19.79 31.5001C19.8253 31.4537 19.8534 31.3986 19.8725 31.3379C19.8916 31.2772 19.9015 31.2121 19.9015 31.1464C19.9015 31.0807 19.8916 31.0156 19.8725 30.9549C19.8534 30.8942 19.8253 30.8391 19.79 30.7926L13.8677 23.0001H30.05C30.1508 23.0001 30.2474 22.9475 30.3187 22.8537C30.39 22.7599 30.43 22.6327 30.43 22.5001C30.43 22.3675 30.39 22.2403 30.3187 22.1466C30.2474 22.0528 30.1508 22.0001 30.05 22.0001Z' fill='black'/%3E%3C/svg%3E%0A");  }
  
  .carousel .carousel-control-next-icon {
    /* change fill="currentColor" to %23fff to make it white  */
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='44' height='44' rx='22' fill='white' fill-opacity='0.75'/%3E%3Cpath d='M12.95 22.9999L29.1323 22.9999L23.21 30.7849C23.1743 30.8318 23.146 30.8876 23.1267 30.9489C23.1074 31.0102 23.0974 31.076 23.0974 31.1424C23.0974 31.2088 23.1074 31.2745 23.1267 31.3358C23.146 31.3972 23.1743 31.4529 23.21 31.4999C23.2457 31.5468 23.288 31.5841 23.3346 31.6095C23.3812 31.6349 23.4312 31.6479 23.4817 31.6479C23.5321 31.6479 23.5821 31.6349 23.6287 31.6095C23.6753 31.5841 23.7177 31.5468 23.7534 31.4999L30.3179 22.8549C30.3358 22.8314 30.3518 22.8054 30.3654 22.7774C30.3718 22.7654 30.3775 22.7529 30.3825 22.7399L30.4015 22.6899L30.4129 22.6399C30.414 22.6257 30.414 22.6115 30.4129 22.5974C30.4226 22.533 30.4226 22.4667 30.4129 22.4024C30.414 22.3882 30.414 22.374 30.4129 22.3599L30.4015 22.3099L30.3825 22.2599C30.3775 22.2468 30.3718 22.2343 30.3654 22.2224C30.3518 22.1943 30.3358 22.1683 30.3179 22.1449L23.7534 13.4999C23.718 13.4522 23.6757 13.4144 23.6291 13.3886C23.5824 13.3627 23.5323 13.3494 23.4817 13.3494C23.4311 13.3494 23.3809 13.3627 23.3343 13.3886C23.2876 13.4144 23.2454 13.4522 23.21 13.4999C23.1746 13.5463 23.1466 13.6014 23.1275 13.6621C23.1084 13.7228 23.0985 13.7879 23.0985 13.8536C23.0985 13.9193 23.1084 13.9844 23.1275 14.0451C23.1466 14.1058 23.1746 14.1609 23.21 14.2074L29.1323 21.9999L12.95 21.9999C12.8492 21.9999 12.7525 22.0525 12.6813 22.1463C12.61 22.2401 12.57 22.3673 12.57 22.4999C12.57 22.6325 12.61 22.7597 12.6813 22.8534C12.7525 22.9472 12.8492 22.9999 12.95 22.9999Z' fill='black'/%3E%3C/svg%3E%0A"); }
  
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
      /* Use to adjust size of icons */
      width: 2.75rem;
      height: 2.75rem;
  }
.card-body{
    h6{
        color:#FF4A32;
        font-size: 15px;
    }
    a{
        text-decoration: none;
        color:#000;
        font-size: 14px;
        &:nth-child(3){
            color:#FF4A32;
        }
    }
}
.row{
    flex-wrap: nowrap;
    --bs-gutter-x:0;
}
.row>*{
    padding-left: 0;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
    top:25%;
}
.product-img{
    width:186px;
    height: 186px;
}
.row .col {
    background-clip: content-box;
    min-height: 20px;
}
.acc-body{
    padding: 0;
    .card-title{
        margin: 0;
    }
}
.card{
         --bs-card-border-width: none;
}
.footer-bg{
    background: #F7F7F7;
}
.footer-crt{
    span{
        color:#FF4A32;
    }
}